<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body>
    <p>
        <% if (!locals.user) { %>
        <form action="/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
        <% } %>

    </p>
</body>

</html>