<p>
    <% if (!locals.user) { %>

        <form action="/login" method="GET" style="margin-left: 50px">
            <input type="submit" value="Login">
        </form>
        <br>
        <form action="/register" method="GET" style="margin-left: 50px">
            <input type="submit" value="Register">
        </form>


        <% } else { %>

           <h6> <%= locals.users %> </h6>

                <form action="/logout" method="POST" style="margin-left: 50px">
                    <input type="submit" value="Logout">
                </form>
                <% } %>



</p>