<p>
    <% if (!locals.user) { %>
        <div class="container">
            <form action="/login" method="GET">
                <input type="submit" class="btn-sm btn-info" value="Login">
            </form>
            <form action="/register" method="GET">
                <input type="submit" class="btn-sm btn-success" value="Register">
            </form>
        </div>

        <% } else { %>
            <div class="container">

                <form action="/logout" method="POST">
                    <input type="submit" class="btn-sm btn-info" value="Logout">
                </form>

                <h4 style="font-family:Trebuchet MS;">
                    Hello,
                    <%= locals.user.email %>!
                </h4>

                <% } %>

            </div>
</p>