<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/_header %>
</head>

<body>
    <h1>TinyApp</h1>
    <p>
        <table>
            <tr>
                <th> Long URL: </th>
                <th> Short URL: </th>
            </tr>
            <tr>
                <td>
                    <%= longURL %>
                </td>
                <td>
                    <%= shortURL %>
                </td>
            </tr>
        </table>
    </p>
</body>

</html>