<!DOCTYPE html>
<html lang="en">

<head>
        <% include ./partials/_header %>
</head>

<body>
    <h1>TinyApp</h1>
    <p>
        <li>
            <%= longURL %> 
        </li>
        <li>
            <%= shortURL %>
        </li>
    </p>
</body>

</html>