<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/_header %>
</head>

<body>
    <h1 style="color:rgb(4, 65, 83);font-size:30px;">TinyApp</h1>
    <ul>
        <table border="1" width="auto" height="70px" bgcolor="#0C2121">
            <tr bgcolor="#16A09E">
                <th> Shortlink </th>
                <th> URL </th>
                <th> Edit Link</th>
                <th> Remove </th>
            </tr>
            <% Object.keys(urls).forEach(function(url) { %>
                <tr bgcolor="#B0EEEC">
                    <td>
                        <%= url %>
                    </td>
                    <td>
                        <%= urls[url] %>
                    </td>
                    <td>
                        <form method="GET" action="/urls/<%= url %>/">
                            <input type="submit" value="EDIT">
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/urls/<%= url %>/delete">
                            <input type="submit" value="DELETE">
                        </form>
                        <% }); %>
                    </td>
                </tr>
        </table>
        <form action="/urls/new" method="get">
            <input type="submit" value="Create new Shortlink" name="Submit" id="frm1_submit" />
        </form>
    </ul>
</body>

</html>